@tailwind base;
@tailwind components;
@tailwind utilities;

.form-group {
  margin-bottom: 1rem;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.form-group > input {
  margin-top: 0.2rem;
  padding: 0.5rem;
  color: black;
}

.button-outline {
  @apply text-gray-800 border-gray-800 border-2 rounded-md p-2;
}

.button-filled {
  @apply bg-gray-800 text-red-200 p-2 rounded-md;
}
